@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/maximum-impact");
/* font-family: 'Maximum Impact', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font-family: 'Open Sans', sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-bg-color: #30343f;
  --nav-bg-color: #e0e0e0;
  --items-font-bg: #ffffff;
  --items-bg-color: #070707;
  --button-bg-down: #2e7d32;
}

[theme="light"] {
  --main-bg-color: #eeeeee;
  --nav-bg-color: #e0e0e0;
  --items-font-bg: #ffffff;
  --items-bg-color: #070707;
  --button-bg-down: #2e7d32;
}

html {
  width: 100%;
  height: 100%;
  background-color: #30343f;
}

.memeGeneratorNavbar {
  width: 100%;
  height: 100px;
  background-color: #191e2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.memeGeneratorNavbar__title {
  font-family: "Open Sans", sans-serif;
  font-size: 7.5vw;
  color: #ffffff;
  margin: 0;
}

.memeGeneratorNavbar__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.memeGeneratorContainer__bottom--item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
}

.memeGeneratorNavbar__buttons button {
  background-color: transparent;
  border: none;
}

.modoOscuro {
  display: none;
}

.memeGeneratorContainer {
  height: 88vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memeGeneratorContainer__topText,
.memeGeneratorContainer__bottomText {
  width: 100%;
  height: 4%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.memeGeneratorContainer__topText p,
.memeGeneratorContainer__bottomText p {
  font-family: "Maximum Impact", sans-serif;
  font-weight: 800;
}
.memeGeneratorContainer__image {
  width: 100%;
  height: 30%;
  background-color: rgb(12, 12, 12);
  border: 1px solid black;
}

.memeGeneratorContainer__download {
  background-color: #2e7d32;
  margin-top: 10%;
  width: 60%;
  height: 7%;
  border: none;
  border-radius: 2%;
  color: white;
}

.fa-cloud-arrow-down {
  margin: 0;
  padding-right: 5px;
  color: white;
}
/*Image Control Panel*/
.fa-solid{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.memeGenerator__imageControlPanel{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.memeGenerator__imageControlPanel--url{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
input[type="url"]{
width: 90%;
margin-left: auto;
margin-right: auto;
}

.imageControlPanel--background--items{
display: flex;
justify-content: space-evenly;
}

.item--background{
  width: 42%;
  height: 20px;
  display: flex;
  background-color: #8091be;
  align-items: center;
  
}

input[type="color"] {
  width: 15px;
  height: 15px; 
  padding: 0;
  border: none; 
  border-radius: 50%;
  margin-left: 5px;
}

.backgroundMixMode{
  width: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  
}
.memeGenerator__imageControlPanel--filters {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
}

.memeGenerator__imageControlPanel--filters--items{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
h4{
  margin-left: 15px;
}
.imageControlPanel {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.filters--item {
  width: 90%;
  display: flex;
  flex-direction: column;

}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d0db34;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:active::-webkit-slider-thumb {
  background: #e74c3c;
}

.memeGenerator__imageControlPanel--button{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
