@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/maximum-impact");
/* font-family: 'Maximum Impact', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font-family: 'Open Sans', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/arial-2");
/* font-family: 'Arial', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/andale-mono");
/* font-family: 'Andale Mono', sans-serif;  */

@import url("https://fonts.cdnfonts.com/css/sans-comic-sans");
/* font-family: 'Sans Comic Sans', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
/* font-family: 'Helvetica Neue', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/impact");
/* font-family: 'Impact', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/verdana");
/* font-family: 'Verdana', sans-serif;  */

@import url("https://fonts.cdnfonts.com/css/roman-new-times");
/* font-family: 'Roman New Times', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/neroit-mission");
/* font-family: 'NEROIT MISSION', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-bg-color: #30343f;
  --nav-bg-color: #191e2b;
  --items-font-bg: #ffffff;
  --items-bg-color: #070707;
  --button-bg-down: #2e7d32;
}

[data-theme="light"] {
  --main-bg-color: #eeeeee;
  --nav-bg-color: #d8d8d8;
  --items-font-bg: #1d1d1d;
  --items-bg-color: #070707;
  --button-bg-down: #2e7d32;
}
body{
  background-color: var(--main-bg-color);
}
html {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.memeGeneratorNavbar {
  width: 100%;
  height: 100px;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.memeGeneratorNavbar__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--items-font-bg);
  margin: 0;
}

.memeGeneratorNavbar__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}
.bottom--imagen,
.bottom--text {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--items-font-bg);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.memeGeneratorNavbar__buttons button {
  background-color: transparent;
  border: none;
}

.theme-dark {
  color: var(--items-font-bg);
}
.theme-light {
  display: block;
  color: var(--items-font-bg);
}

.hidden {
  display: none;
}
.memeGeneratorContainer {
  height: 85vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paragraphtopText,
.paragraphBottomText {
  font-family: "Arial", sans-serif;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}

.memeGeneratorContainer__topText {
  width: 100%;
  min-height: 15%;
  background-color: var(--items-font-bg);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--items-bg-color);
  position: absolute;
  padding: 20px 50px;
  text-align: center;
  margin: 0;
  padding: 0 50px;
  border: none;
 
}

.memeGeneratorContainer__bottomText {
  width: 100%;
  min-height: 15%;
  background-color: var(--items-font-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--items-bg-color);
  position: absolute;
  bottom: 0;
  padding: 20px 50px;
  word-wrap: break-word;
  white-space: pre-line;
  border: none;
 
}

.memeGeneratorContainer__topText p,
.memeGeneratorContainer__bottomText p {
  width: 100%;
  font-family: "Maximum Impact", sans-serif;
  font-weight: 800;
}
.memeGeneratorContainer__image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  background-color: var(--items-bg-color);
  border: 1px solid var(--items-bg-color);
  position: relative;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
}

.memeGeneratorContainer__download {
  background-color: var(--button-bg-down);
  margin-top: 10%;
  width: 60%;
  height: 7%;
  border: none;
  border-radius: 2%;
  color: var(--items-font-bg);
}

.fa-cloud-arrow-down {
  margin: 0;
  padding-right: 5px;
  color: var(--items-font-bg);
}
/*Image and Text Control Panel*/

/* .memeGenerator__imageControlPanel {
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 100px;
  background-color: var(--main-bg-color);
} */
.buttonClose {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
}

.memeGenerator__imageControlPanel--url {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
input[type="url"] {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.imageControlPanel--background--items {
  display: flex;
  justify-content: space-evenly;
}

.item--background {
  width: 42%;
  height: 20px;
  display: flex;
  background-color: #8091be;
  align-items: center;
}

input[type="color"] {
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
}

.backgroundMixMode {
  width: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.memeGenerator__imageControlPanel--filters {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--items-font-bg);
}

.memeGenerator__imageControlPanel--filters--items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
h4 {
  margin-left: 15px;
}
.imageControlPanel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filters--item {
  width: 90%;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d0db34;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:active::-webkit-slider-thumb {
  background: #e74c3c;
}

.memeGenerator__imageControlPanel--button {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.memeGenerator__textControlPanel,
.memeGenerator__imageControlPanel {
  width: 0;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 100px;
  background-color:var(--nav-bg-color) ;
}

.textControlPanel__topText,
.textControlPanel__bottomText,
.textControlPanel--fonts,
.textControlPanel--background,
.memeGenerator__textControlPanel--outline,
.memeGenerator__textControlPanel--spacing,
.memeGenerator__textControlPanel--lineSpacing {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
 
}

.textControlPanelbackground {
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  width: 45%;
}
.button--align {
  display: flex;
  justify-content: space-between;
}
.align {
  width: 15%;
}
.backgroung {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.backgroung--color {
  display: flex;
  height: 20px;
  background-color: #8091be;
  align-items: center;
}

.outline {
  display: flex;
  width: 100%;
  gap: 10px;
}

.button--outline {
  width: 25%;
  display: flex;
  padding: 0 5px;
}
.memeGenerator__textControlPanel--spacing input[type="number"] {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .generalContainer {
    display: flex;
  }
  main {
    width: 70%;
  }

   .memeGenerator__imageControlPanel {
    width: 30%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    top: 0;
    position: relative;
  }
.memeGenerator__imageControlPanel--filters{
  align-items: baseline;

}

  .memeGenerator__textControlPanel{
    width: 0;
    height: 85vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    top: 0;
    position: relative;
  }
  .memeGenerator__imageControlPanel--filters--items{
    width: 25%;
    align-items: center;
    gap: 8px;

  .buttonClose {
    display: none;
  }
}
}